body{
    margin: 0%;
    padding: 0%;
}

/*FONTE*/
@font-face{
    font-family: shutter;
    src: url(../SRC/shutterlocks/Shutterlocks.ttf);
}

/*NAVABAR*/
.topnav {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: rgb(255, 255, 255);
}

.topnav a {
    float: left;
    color: rgb(125, 125, 125);
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    font-family: 'Trebuchet MS', sans-serif;
    
}

.topnav a:hover{
    color:rgb(170, 194, 214);
}

.topnav a.active {
    font-family: shutter;
    color:  rgb(165, 202, 235);
    font-size: 40px;
}

.topnav a.active:hover{
    color: rgb(170, 194, 214);
    text-decoration:none;
}

.topnav-right {
    float: right;
}

/*CAROUSEL*/
.carousel{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: baseline;
    width: 100%;
}

/*TITULO*/
.titulo-loja{
    text-align: center;
    font-family: shutter;
    color: rgb(165, 202, 235);
    font-size: 150px;
    margin-bottom: 0;
}

/*LOJA*/
.media-body{
    height: 400px; 
    padding: 165px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(125, 125, 125); 
    font-size: 18px;
}

.media-body>h5{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(75, 75, 75);
}

.ml-3{
    width: 400px;
    height: 400px;
}

/*TITULOS*/
.titulo{
    color: rgb(165, 202, 235);
    margin-left: 20%;
    margin-right: 20%;
    margin: 10px;
    text-align: center;
    font-family: shutter;
    font-size: 50px;
}

/*CONTATO*/
#enviar{
    color: #fff;
    background-color: rgb(165, 202, 235);
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 15px;
}

#limpar{
    color: rgb(165, 202, 235);
    background-color: #fff;
    border: 2px solid;
    border-color:  rgb(165, 202, 235);
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 15px;
}

/*FOOTER*/
.footer {
    position: static;
    margin-top: 50px;
    margin-bottom: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(87, 87, 87);
 }


 /**/
